body {
    font-family: "Inter", sans-serif;
    background-color: #f2f2f7;
}

.navbar {
    background-color: #1e3a5f;
}

.navbar-brand,
.nav-link {
    color: #f2f2f7 !important;
    font-weight: 500;
}

.container-welcome {
    max-height: 75vh;
}

.img-welcome {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.h1-header {
    color: #1e3a5f;
}

.container-create {
    margin-top: 40px;
    margin-bottom: 102px;
}

.color-form {
    background-color: #1e3a5f;
    color: #f2f2f7;
}

.btn-form {
    color: #1e3a5f;
    background-color: #f2f2f7;
    font-weight: 600;
}

.price {
    font-size: 1.2rem;
}

.product-card {
    transition: transform 0.2s, box-shadow 0.2s;
    border: 4px solid #0762b7;
    background-color: #1e3a5f;
    color: #f2f2f7;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.card-body:hover {
    color: #0d6efd;
}

.product-img {
    width: 100%;
    height: 300px;
    border-bottom: 4px solid #0762b7;
}

.bg-footer {
    background-color: #1e3a5f;
}

@media (max-width: 850px) {
    .bg-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    body {
        padding-bottom: 90px;
    }
}

@media (max-width: 700px) {
    .img-welcome {
        max-width: 100%;
        min-height: 600px;
    }

    .header-welcome {
        max-height: 20px;
    }
}
